<Navbar></Navbar>

    <div class="topSectionContainer">
      <div class="productDescription">
        <div>
          <h3>New Arrival</h3>
          <p>New Nike Sports Shoes Arrived For Our Store.</p>
          <em> Its Limited Edition ..</em>
        </div>
        <div class="productLink">
          <a routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page"><span class="text">Shop
              Now</span></a>
        </div>
      </div>
      <div class="ProductShowCase">
        <img src="../../assets/Products/Plant1.jpg">
      </div>
    </div>

    <!-- <h1>Home Essentials</h1> -->
    <div id="container">
      <ul id="slides">
        <li class="slide">
          <div class="slide-partial slide-left">
            <img src="../../assets/Category Products/Slider/SofaLeft.jpg" />
          </div>
          <div class="slide-partial slide-right">
            <img src="../../assets/Category Products/Slider/SofaRight.jpg" />
          </div>
          <h1 class="title"><span class="title-text"><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Sofas / Couches</a></span></h1>
        </li>
        <li class="slide">
          <div class="slide-partial slide-left">
            <img src="../../assets/Category Products/Slider/FridgeLeft.png" />
          </div>
          <div class="slide-partial slide-right">
            <img src="../../assets/Category Products/Slider/FridgeRight.png" />
          </div>
          <h1 class="title"><span class="title-text"><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Fridges</a></span></h1>
        </li>
        <li class="slide">
          <div class="slide-partial slide-left">
            <img src="../../assets/Category Products/Slider/BedroomLeft.png" />
          </div>
          <div class="slide-partial slide-right">
            <img src="../../assets/Category Products/Slider/BedroomRight.png" />
          </div>
          <h1 class="title"><span class="title-text"><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Bed Rooms</a></span></h1>
        </li>
        <li class="slide">
          <div class="slide-partial slide-left">
            <img src="../../assets/Category Products/Slider/CarpetLeft.png" />
          </div>
          <div class="slide-partial slide-right">
            <img src="../../assets/Category Products/Slider/CarpetRight.png" />
          </div>
          <h1 class="title"><span class="title-text"><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Carpets</a></span></h1>
        </li>
      </ul>
      <ul id="slide-select">
        <li class="btn prev"> &lt; </li>
        <li class="selector"></li>
        <li class="selector"></li>
        <li class="selector"></li>
        <li class="selector"></li>
        <li class="btn next"> &gt; </li>
      </ul>
    </div>

    <div class="products-ShowCase">
      <div class="grid related-products">
        <div class="column-xs-12">
          <h3>Products</h3>
        </div>
        <div class="column-xs-12 column-md-4">
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../../assets/Category Products/Product Showcase/Black-Sofa.png">
          </a>
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h4>Dark Brown Sofa</h4>
          </a>
          <p class="price">$64.99</p>
        </div>
        <div class="column-xs-12 column-md-4">
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../../assets/Category Products/Product Showcase/MicroWave.png">
          </a>
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h4>LG MicroWave</h4>
          </a>
          <p class="price">$99.99</p>
        </div>
        <div class="column-xs-12 column-md-4">
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../../assets/Category Products/Product Showcase/SamsungFamilyHubSmartFridge.png">
          </a>
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h4>Samsung Smart Fridge</h4>
          </a>
          <p class="price">$1849.99</p>
        </div>
        <div class="column-xs-12 column-md-4">
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../../assets/Category Products/Product Showcase/Pillow.png">
          </a>
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h4>Pillow</h4>
          </a>
          <p class="price">$7.99</p>
        </div>
        <div class="column-xs-12 column-md-4">
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <img src="../../assets/Category Products/Product Showcase/whiteSlippersOnCarpet.png">
          </a>
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h4>Carpet</h4>
          </a>
          <p class="price">$24.99</p>
        </div>
        <div class="column-xs-12 column-md-4">
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <!-- <img src="https://source.unsplash.com/6Rs76hNbIWE"> -->
            <img src="../../assets/Category Products/Product Showcase/Cactus.jfif">
          </a>
          <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <h4>Cactus</h4>
          </a>
          <p class="price">$19.99</p>
        </div>
      </div>
    </div>

    <footer>
      <div class="copyrightContent">
        <p>Copyright © 2022 FAS-ECommerce <br> All rights reserved. </p>
        <p class="copyrightText">Created by <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">FAS Team</a>.</p>
      </div>
    </footer>
