 <!-- Categories Starts -->
 <h1 class="catText catTextShadow">Categories</h1>
 <div class="pu-container">
   <div class="pu-block">
     <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">
       <img src="../../assets/Categories/T-Shirt.png" alt="">
       <div class="pu-popup">
         <div class="pu-text">Clothes</div>
       </div>
     </a>
   </div>
   <div class="pu-block">
     <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">
       <img src="../../assets/Categories/Laptop.png" alt="">
       <div class="pu-popup">
         <div class="pu-text">Electronics</div>
       </div>
     </a>
   </div>
   <div class="pu-block">
     <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">
       <img src="../../assets/Categories/Frame.png" alt="">
       <div class="pu-popup">
         <div class="pu-text">Home Essentials</div>
       </div>
     </a>
   </div>
   <div class="pu-block">
     <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">
       <img src="../../assets/Categories/PS5 Controller.png" alt="">
       <div class="pu-popup">
         <div class="pu-text">Entertainment</div>
       </div>
     </a>
   </div>
   <div class="pu-block">
     <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">
       <img src="../../assets/Categories/Book.png" alt="">
       <div class="pu-popup">
         <div class="pu-text">Education</div>
       </div>
     </a>
   </div>
 </div>
 <!-- Categories Ends -->
