    <!-- Navigation Bar Start -->
    <div class="wrapper">
      <nav>
        <input type="checkbox" id="show-search">
        <input type="checkbox" id="show-menu">
        <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
        <div class="content">
          <label class="profile-icon"><i class="fas fa-user"></i>
            <div class="menu">
              <h3>blulogix
                <br>
                <span class="UserEmail">blulogix@icloud.com</span>
              </h3>
              <ul>
                <li class="UserMenuOptions"><a href="UserPageManagement.html">Edit Profile</a></li>
                <li class="UserMenuOptions"><a href="ManagementPage.html">Management</a></li>
                <li class="UserMenuOptions"><a href="#">view Orders</a></li>
                <li class="UserMenuOptions"><a href="#">Payment Method</a></li>
                <li class="UserMenuOptions"><a href="#">Logout</a></li>
              </ul>
            </div>
          </label>
          <div class="logo"><a href="#"> FAS ECommerce</a></div>
          <ul class="links">
            <li><a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/Cart" routerLinkActive="active" ariaCurrentWhenActive="page">Cart</a></li>
            <li><a routerLink="/WishList" routerLinkActive="active" ariaCurrentWhenActive="page">WishList</a></li>
            <li>
              <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page"
                class="desktop-link">Categories</a>
              <input type="checkbox" id="show-categories">
              <label for="show-categories">Categories</label>
              <ul>
                <!-- ############ 1 ############ -->
                <li>
                  <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="desktop-link">Clothes</a>
                  <input type="checkbox" id="show-clothes">
                  <label for="show-clothes">More Clothes</label>
                  <ul>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Pants</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Shirts / T-Shirts</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Accessories</a></li>
                  </ul>
                </li>
                <!-- ############ 2 ############ -->
                <li>
                  <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="desktop-link">Electronics</a>
                  <input type="checkbox" id="show-electronics">
                  <label for="show-electronics">More Electronics</label>
                  <ul>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Computers / Laptops</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Televisions</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">HeadPhones</a></li>
                  </ul>
                </li>
                <!-- ############ 3 ############ -->
                <li>
                  <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="desktop-link">Home Essentials</a>
                  <input type="checkbox" id="show-Home-Essentials">
                  <label for="show-Home-Essentials">More Home Essentials</label>
                  <ul>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Sofas / Couches</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Kitchen Stuff</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Bedroom Stuff</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Carpets</a></li>
                  </ul>
                </li>
                <!-- ############ 4 ############ -->
                <li>
                  <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="desktop-link">Entertainment</a>
                  <input type="checkbox" id="show-entertainment">
                  <label for="show-entertainment">More Entertainment</label>
                  <ul>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Video Games Consoles</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Kids Toys</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Mini Games</a></li>
                  </ul>
                </li>
                <!-- ############ 5 ############ -->
                <li>
                  <a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="desktop-link">Education</a>
                  <input type="checkbox" id="show-education">
                  <label for="show-education">More Education</label>
                  <ul>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Books</a></li>
                    <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Online Courses</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a routerLink="/SignIn" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a></li>
            <li><a routerLink="/SignUp" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a></li>
          </ul>
        </div>
        <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
        <form action="#" class="search-box">
          <input type="text" placeholder="Type Here To Search ..." required>
          <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
      </nav>
    </div>
    <!-- Navigation Bar Ends -->
