    <!-- ( Footer ) Contact Form And Footer Starts-->
    <div class="FooterWrapper">
      <footer>
        <h3>FAS E-Commerce</h3>

        <section class="columns">

          <div class="column">
            <h2>Useful links</h2>
            <ul>
              <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Shopping Cart</a></li>
              <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Clothes</a></li>
              <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Electronics</a></li>
              <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Home Essentials</a></li>
              <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Entertainment</a></li>
              <li><a routerLink="/Category" routerLinkActive="active" ariaCurrentWhenActive="page">Education</a></li>
            </ul>
          </div>

          <div class="column">
            <h2>Contact Us</h2>
            <ul>
              <li><a href="#">+962 790 46 57 86</a></li>
              <li><a href="#">BluLogix, Amman, Jordan</a></li>
              <div class="alignzzz">
                <li><a href="#" class="logosForContact"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#" class="logosForContact"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="logosForContact"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#" class="logosForContact"><i class="fa fa-twitter"></i></a></li>
              </div>
            </ul>
          </div>

          <div class="column">
            <h2>Do you have a question?</h2>
            <form class="footerContactForm">
              <input type="text" class="formInputControl" id="Name" name="name" placeholder="Name" required>
              <input type="text" class="formInputControl" id="email" name="email" placeholder="Email" required>
              <textarea class="formInputControl" type="textarea" id="message" placeholder="Message" maxlength="140"
                rows="5"></textarea>
              <button type="button" id="submit" name="submit" class="SubmitBtn ">Submit</button>
            </form>
          </div>

        </section>
        <div class="copyrightContent">
          <p>Copyright © 2022 FAS-ECommerce <br> All rights reserved. </p>
          <p class="copyrightText">Created by <a href="#">FAS Team</a>.</p>
        </div>
      </footer>

    </div>
    <!-- ( Footer ) Contact Form And Footer Ends -->
