<Navbar></Navbar>


<div class="mainContainer">
  <h1>Shopping Cart <i class="fa fa-cart-shopping"></i></h1>

  <div class="shopping-cart">

    <div class="column-labels">
      <label class="product-image">Image</label>
      <label class="product-details">Product</label>
      <label class="product-price">Price</label>
      <label class="product-quantity">Quantity</label>
      <label class="product-removal">Remove</label>
      <label class="product-line-price">Total</label>
    </div>

    <div class="product">
      <div class="product-image">
        <img src="../../assets/Categories/T-Shirt.png">
        <!-- <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg"> -->
      </div>
      <div class="product-details">
        <div class="product-title">FAS T-Shirt</div>
        <p class="product-description">The best T-Shirt of all time. Holy crap. Your Friends will be begging you
          about where did you buy the T-Shirt From!</p>
      </div>
      <div class="product-price">12.99</div>
      <div class="product-quantity">
        <input type="number" value="2" min="1">
      </div>
      <div class="product-removal">
        <button class="remove-product">
          Remove
        </button>
      </div>
      <div class="product-line-price">25.98</div>
    </div>

    <div class="product">
      <div class="product-image">
        <img src="../../assets/Categories/Laptop.png">
        <!-- <img src="https://s.cdpn.io/3/large-NutroNaturalChoiceAdultLambMealandRiceDryDogFood.png"> -->
      </div>
      <div class="product-details">
        <div class="product-title">FAS Laptop</div>
        <p class="product-description">Who doesn't like a good and fast? We brought one of the best Laptops
          you can ever have, it has i7-11thGen, Nividia 3060 Ti, 16GB-3200Mhz Ram, And much More details.
        </p>
      </div>
      <div class="product-price">45.99</div>
      <div class="product-quantity">
        <input type="number" value="1" min="1">
      </div>
      <div class="product-removal">
        <button class="remove-product">
          Remove
        </button>
      </div>
      <div class="product-line-price">45.99</div>
    </div>

    <div class="totals">
      <div class="totals-item">
        <label>Subtotal</label>
        <div class="totals-value" id="cart-subtotal">71.97</div>
      </div>
      <div class="totals-item">
        <label>Tax (5%)</label>
        <div class="totals-value" id="cart-tax">3.60</div>
      </div>
      <div class="totals-item">
        <label>Shipping</label>
        <div class="totals-value" id="cart-shipping">15.00</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Grand Total</label>
        <div class="totals-value" id="cart-total">90.57</div>
      </div>
    </div>

    <button class="checkout" routerLink="/Payment" routerLinkActive="active"
      ariaCurrentWhenActive="page">Checkout</button>

  </div>
</div>
