<Navbar></Navbar>
<main class="alignContainer">
  <div class="container">
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <img class="active" src="../../assets/Products/Plant1.jpg">
          </div>
          <ul class="image-list">
            <li class="image-item"><img src="../../assets/Products/Plant1.jpg"></li>
            <li class="image-item"><img src="../../assets/Products/Plant2.jpg"></li>
            <li class="image-item"><img src="../../assets/Products/Plant3.jpg"></li>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>Bonsai</h1>
        <h2>$19.99</h2>
        <div class="description">
          <p>The purposes of bonsai are primarily contemplation for the viewer, and the pleasant exercise
            of effort and ingenuity for the grower.</p>
          <p>By contrast with other plant cultivation practices, bonsai is not intended for production of
            food or for medicine. Instead, bonsai practice focuses on long-term cultivation and shaping
            of one or more small trees growing in a container.</p>
        </div>
        <button class="add-to-cart" routerLink="/Cart" routerLinkActive="active" ariaCurrentWhenActive="page">Add To
          Cart</button>
      </div>
    </div>
    <div class="grid related-products">
      <div class="column-xs-12">
        <h3>You may also like</h3>
      </div>
      <div class="column-xs-12 column-md-4">
        <a routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="https://source.unsplash.com/miziNqvJx5M">
        </a>
        <a routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h4>Succulent</h4>
        </a>
        <p class="price">$19.99</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <a routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="https://source.unsplash.com/2y6s0qKdGZg">
        </a>
        <a routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h4>Terranium</h4>
        </a>
        <p class="price">$19.99</p>
      </div>
      <div class="column-xs-12 column-md-4">
        <a routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img src="https://source.unsplash.com/6Rs76hNbIWE">
        </a>
        <a routerLink="/Product" routerLinkActive="active" ariaCurrentWhenActive="page">
          <h4>Cactus</h4>
        </a>
        <p class="price">$19.99</p>
      </div>
    </div>
  </div>
</main>
