<div id="invoiceHolder">

  <div id="headerImage"></div>
  <div id="invoice" class="effect2">

    <div id="invoice-top">
      <div class="logo"></div>
      <div class="info">
        <h2>FAS ECommerce</h2>
        <p> hello@michaeltruong.ca <br>
          289-335-6503
        </p>
      </div>
      <!--End Info-->
      <div class="title">
        <h1>Invoice #1069</h1>
        <p>Issued: May 27, 2015<br>
          Payment Due: June 27, 2015
        </p>
      </div>
    </div>
    <div id="invoice-mid">
      <div class="clientLogo"></div>
      <div class="info">
        <h2>Client Name</h2>
        <p>JohnDoe@gmail.com<br>
          555-555-5555<br>
      </div>
    </div>
    <div id="invoice-bot">

      <div id="table">
        <table>
          <tr class="tabletitle">
            <td class="item">
              <h2>Item Description</h2>
            </td>
            <td class="ََQuantity">
              <h2>Quantity</h2>
            </td>
            <td class="Rate">
              <h2>Price</h2>
            </td>
            <td class="subtotal">
              <h2>Sub-total</h2>
            </td>
          </tr>

          <tr class="service">
            <td class="tableitem">
              <p class="itemText">Communication</p>
            </td>
            <td class="Quantity">
              <p class="Quantity">5</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$75</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$375.00</p>
            </td>
          </tr>

          <tr class="service">
            <td class="tableitem">
              <p class="itemText">Asset Gathering</p>
            </td>
            <td class="Quantity">
              <p class="itemText">3</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$75</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$225.00</p>
            </td>
          </tr>

          <tr class="service">
            <td class="tableitem">
              <p class="itemText">Design Development</p>
            </td>
            <td class="Quantity">
              <p class="itemText">5</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$75</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$375.00</p>
            </td>
          </tr>

          <tr class="service">
            <td class="tableitem">
              <p class="itemText">Animation</p>
            </td>
            <td class="Quantity">
              <p class="itemText">20</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$75</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$1,500.00</p>
            </td>
          </tr>

          <tr class="service">
            <td class="tableitem">
              <p class="itemText">Animation Revisions</p>
            </td>
            <td class="Quantity">
              <p class="itemText">10</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$75</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$750.00</p>
            </td>
          </tr>

          <tr class="service">
            <td class="tableitem">
              <p class="itemText"></p>
            </td>
            <td class="Quantity">
              <p class="itemText">HST</p>
            </td>
            <td class="tableitem">
              <p class="itemText">13%</p>
            </td>
            <td class="tableitem">
              <p class="itemText">$419.25</p>
            </td>
          </tr>


          <tr class="tabletitle">
            <td></td>
            <td></td>
            <td class="Rate">
              <h2>Total</h2>
            </td>
            <td class="payment">
              <h2>$3,644.25</h2>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</div>


<div class='homeButton'>
  <a routerLink="/Home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
</div>
